PORT=4000
MONGO_URI=mongodb://localhost:27017/haggag
JWT_ACCESS_SECRET=haggag-dev-access-secret-change-me
JWT_REFRESH_SECRET=haggag-dev-refresh-secret-change-me
WEB_ORIGIN=http://localhost:3000
ADMIN_ORIGIN=http://localhost:3001
COOKIE_SECURE=false
